# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Python
__pycache__/
.pytest_cache/
.venv/
*.pyc
*.sqlite3

# Node
node_modules/
dist/
.vite/

# Local env
.env

AGENT.md